<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lycamplus-ios-example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>106E45031C0F5E0C00DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>106E451C1C0F5E0C00DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>106E45271C0F5E0C00DB2F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
